[project]
name = "ludic"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "openai>=2.7.1",
    "peft>=0.18.0",
    "rich>=14.2.0",
    "torch>=2.8.0",
    "vllm>=0.11.0",
]

[build-system]
requires = ["uv_build>=0.9.5,<0.10.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
    "mypy>=1.18.2",
    "pytest>=8.4.2",
    "pytest-asyncio>=1.2.0",
    "ruff>=0.14.5",
]
pipelinerl = [
    "aiohttp>=3.13.2",
    "redis>=7.1.0",
]

[tool.pytest.ini_options]
markers = [
    "integration: marks tests as integration tests",
    "gpu: marks tests as needing a GPU"
]
testpaths = ["tests"]
